body{
    margin: 0;                  
    padding: 0;                   
    background-color: lightskyblue; 
    min-height: 100vh;   
}

h2{
    margin: 1rem auto;
    padding: 2rem;
}

main {
    background-color: white;
    width: 90%;   
    margin: 0 auto;                   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    min-height: 100vh;  
}

#caja_padre{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem),1fr));
}

.caja{
    display:grid;
    grid-auto-rows: auto;
    margin: 2rem auto; 
    background-color: rgb(154, 241, 208);
    border: 2px solid black;
    border-radius: 8px;   
    width: 80%;
    height: 25rem;
}

img{
    margin: 1.5rem auto;
    padding: 2;
    height: 70%;
    width: 70%;
}








