body{
    margin: 0;                  
    padding: 0;                   
    background-color: black; 
    min-height: 100vh;   
}

main {
    text-align: center;
    background-color: black;
    width: 90%;   
    margin: 0 auto;                   
}

h1{ 
    margin: 1.5rem auto;
    padding: 0;
    color: white;
}

h2{
    margin: 1.5rem 0 0.5rem 0;
    color: white;
    font-size: 2em;
}

h3{
    margin: 0 auto;
    color: white;
}

h1,h2,h3{
    font-family: sans-serif;
}

#caja_padre{
    display: grid;
    gap: 3rem;
    grid-auto-rows: 27rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem),1fr));
}

.caja{
    margin: 2rem auto; 
    background-color: rgb(255, 136, 0);
    border-radius: 8px;   
    width: 80%;
    height: 25rem;
    box-shadow: 0 0px 18px rgb(255, 255, 255); 
}

img{
    margin: 0 auto;
    height: 70%;
    width: 100%;
    border-radius: 8px;  
    
}










